<!--<!DOCTYPE html>
<html lang="pl-PL">
<head>
	<link rel="stylesheet" href="../../css/style.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1"/>
	<title>Ekon</title>
</head>
<body>
	<header>
		<h1>Ekon</h1>
		<img src="../../images/logo.png" alt="Ekon Logo">
	</header>

	
		<ul class="menu">
			<li><a href="../../index.html">Main page</a></li>
			<li><a href="">Clients</a>
				<ul>
					<li><a href="../client/list.html">Clients' list</a></li>
					<li><a href="../client/form.html">Clients' form</a></li>
				</ul>
			</li>
			<li><a href="">Orders</a>
				<ul>
					<li><a href="order.html">Orders' list</a></li>
					<li><a href="order-form.html">Orders' form</a></li>
				</ul>
			</li>
			<li><a href="">Matresses</a>
				<ul>
					<li><a href="../mattress/mattresses.html">Mattresses' list</a></li>
					<li><a href="../mattress/mattresses-form.html">Mattresses' form</a></li>
				</ul>
			</li>
		</ul>-->

	<%- include('../../fragments/header.ejs') %>

		<main>
<h2><%= pageTitle %></h2>

			<form class="form">

			<label for="Client">Client: <span class="symbol-required"></span></label>
			<select name="Client" id="Client" disabled>
				<option value="" label=""></option>
			</select>
			<span id="errorClient" class="errors-text"></span>


			<label for="Mattress">Mattress: <span class="symbol-required"></span></label>
			<select name="Mattress" id="Mattress" disabled>

				<option value="" label=""></option>

			</select>
			<span id="errorMattress" class="errors-text"></span>


			<label for="Amount">Amount: <span class="symbol-required"></span></label>
			<input type="text" name="Amount" id="Amount" value="<%= order.Amount %>"  disabled required/>
			<span id="errorAmount" class="errors-text"></span>


			<label for="Status">Status: <span class="symbol-required"></span></label>
			<input type="text" name="Status" id="Status" value="<%= order.Status %>" disabled required/>
			<span id="errorStatus" class="errors-text"></span>

			
			<label for="ShippingCosts">Shipping costs: <span class="symbol-required"></span></label>
			<input type="text" name="Shipping costs" id="ShippingCosts" value="<%= order.ShippingCosts %>" disabled required/>
			<span id="errorShippingCosts" class="errors-text"></span>

			
			<label for="DepartureDate">Departure date: <span class="symbol-required"></span></label>
			<input type="date" name="Departure date" id="DepartureDate" value="<%= order.DepartureDate %>" disabled required/>
			<span id="errorDepartureDate" class="errors-text"></span>


			<label for="OrderDate">Order date: <span class="symbol-required"></span></label>
			<input type="date" name="Order date" id="OrderDate" value="<%= order.OrderDate %>" disabled required/>
			<span id="errorOrderDate" class="errors-text"></span>


			<div class="form-buttons">
				<a href="/order/edit/<%=order.o_id%>" class="list-actions-button-edit">Edit</a>
				<a href="/order" class="list-actions-button-details">Return</a>
			</div>
		</form>

	

</main>

	<%- include('../../fragments/footer.ejs') %>

	<!--<footer>
		Artem, Honcharenko, s22527
	</footer>
</body>
</html>-->